<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button (click)="toggleMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon src="../../assets/icon/Maqueta.svg" style="width: 50px; height: 50px;"></ion-icon>
      </ion-tab-button>
      <ion-tab-button href="/seeker">
        <ion-icon name="search-circle-outline" class="icon"></ion-icon>
        <ion-label>Buscador</ion-label>
      </ion-tab-button>
      <ion-tab-button href="/login">
        <ion-icon name="person-circle-outline" class="icon"></ion-icon>
        <ion-label>Iniciar Sesión</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>