<ion-header [translucent]="true">
  <nav class="navbar navbar-expand bg-dark navbar-dark justify-content-center">

    <li class="nav-item dropdown" style="list-style:none">
      <img src="../../assets/icon/align-justify.png " id="Menu" data-toggle="dropdown">
      <div class="dropdown-menu" id="menuDrop">
        <a class="dropdown-item" style="text-align: center;">Menú</a> <br>
        <a class="dropdown-item border" routerLink="">Mi usuario</a> <br>
        <a class="dropdown-item border" routerLink="">Ofertas</a><br>
        <a class="dropdown-item border" routerLink="">Número de contacto</a><br>
        <a class="dropdown-item border" routerLink="">Redes Sociales</a><br>
        <a class="dropdown-item border" routerLink="/seeker">Buscador</a><br>
        <a class="dropdown-item border" routerLink="/home">Acerca de nosotros</a>
      </div>
    </li>
    <a class="navbar-brand" href="#">
      <img src="../../assets/icon/facebook.png" id="facebook" alt="Facebook">
    </a>
    <a class="navbar-brand" href="#">
      <img src="../../assets/icon/twitter.png" id="twitter" alt="twitter">
    </a>
    <a class="navbar-brand" href="#">
      <img src="../../assets/icon/instagram.png" id="instagram" alt="instagram">
    </a>
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/logo.png" id="logo" alt="Logo">
    </a>
  </nav>

</ion-header>

<ion-content [fullscreen]="true" class="background">

  <div class="container w-75 my-3">
    <h1 style="text-align: center;">Sobre Nosotros</h1>
    Hola soy Christian Moreno dueño de la tienda de maquetas de Gundam, desde pequeño
    me ha gustado montar maquetas algo que empezo como un entretenimiento que pasó a ser un hobby
    en especial he montado maquetas de Warhammer 40000 una franquicia de games workshop. Pero un dia
    de mi vida de adolescente empecé a ver un Anime(serie de animacion japonesa) el cual se llamaba Gundam,
    me gustó tanto lo que vi que cuando descubrí que se podían montar maquetas del universo de Gundam se abrió
    ante mi un nuevo mundo dentro de el montaje de maquetas empecé a comprar y montar mis Mechas favoritos del universo
    de Gundam,
    cuando acabé siendo un adulto monte este negocio para poder enseñar este maravilloso hobby a otras personas
    interesadas y poder
    socializar con gente con gustos similares a los míos.
    <p></p>
    Espero que os lo paseís en grande montando vuestras maquetas favoritas recordad no desespereis al ver
    que al principio puede ser un poco tedioso y complicado ya que de todo se aprende, esto es un hobby teneís que
    tratarlo como tal
    no es vuestro trabajo no os estreseis dedicadle el tiempo que podaís a montar vuestra maqueta para que el
    resultado final
    sea una delicia para vuestra vista que perfectamente podais usar para decorar vuestro cuarto y sorprended a algún
    invitado
    curioso por vuestras maquetas.

    <div style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
      <img src="../../assets/icon/phone.png" style="width: 60px;">
      <p style="font-family:'Roboto', sans-serif;font-size:15px;">Nº de contacto</p>
    </div>

    <div style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
      <img src="../../assets/img/sobreNosotros.jpg" style="width: 200px;">
    </div>

  </div>
</ion-content>