<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div id="user" class="media border p-3" *ngFor="let u of usuario">
    <img (click)=openModalImgUser() src="http://localhost:8080/img/usuarios/{{u.imgUser}}" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">
      <h4>{{u.nombre}}<small><i> {{u.apellidos}}</i></small></h4>
      <p>{{u.correoElectronico}}</p>
      <div class="media p-3">
        <img src="../../assets/img/IconoUser.png" alt="Maquetas Pedidas" class="mr-3 mt-3 rounded-circle" style="width:45px;">
        <h4>Pedidos</h4>
        <div class="media-body" *ngFor="let p of pedidosUsuario">
          <div class="pedidosDisplay">
            <p>Id de tu pedido:{{p.idPedido}}</p>
            <p> Id de tu maqueta:{{p.idMaqueta}}</p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</ion-content>
<app-footer></app-footer> 
