ion-content.background{
    --background: url(../../assets/img/fondo.jpg) 0 0/100% 100% no-repeat;
  }
  
#user{
  background-color: white;
  opacity: 85%;
  border:1px solid black !important;
}

.pedidosDisplay{
  display: flex;
  justify-content: space-around;
  padding: auto;
  margin: auto;
  flex-direction: column;
  font-family:'Roboto', sans-serif;
  font-size:15px;
}

.media{
  background-color:#CFDFEB;
	border-radius:13px;
	border:1px solid black;
}
