<ion-header [translucent]="true">
  <nav class="navbar navbar-expand bg-dark navbar-dark justify-content-center">
    <li class="nav-item dropdown" style="list-style:none">
      <img src="../../assets/icon/align-justify.png " id="Menu" data-toggle="dropdown">
      <div class="dropdown-menu" id="menuDrop">
        <a class="dropdown-item" style="text-align: center;">Menú</a> <br>
        <a class="dropdown-item border">Mi usuario</a> <br>
        <a class="dropdown-item border">Ofertas</a><br>
        <a class="dropdown-item border">Número de contacto</a><br>
        <a class="dropdown-item border">Redes Sociales</a><br>
        <a class="dropdown-item border" routerLink="/seeker">Buscador</a><br>
        <a class="dropdown-item border" routerLink="/home">Acerca de nosotros</a>
      </div>
    </li>
    <a class="navbar-brand" href="#">
      <img src="../../assets/icon/facebook.png" id="facebook" alt="Facebook">
    </a>
    <a class="navbar-brand" href="#">
      <img src="../../assets/icon/twitter.png" id="twitter" alt="twitter">
    </a>
    <a class="navbar-brand" href="#">
      <img src="../../assets/icon/instagram.png" id="instagram" alt="instagram">
    </a>
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/logo.png" id="logo" alt="Logo">
    </a>
  </nav>
</ion-header>

<ion-content class="background">
  <div class="container my-5" style="width: 200px; height: 130px;">
    <div class="form-group" style="margin-top: 10px;">
      <input id="search" type="text" class="forms-control" placeholder="Buscar..." value="" oninput="">
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">Oferta
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">Precio Menor a 50€
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">Precio Menor a 25€
      </label>
    </div>
  </div>
</ion-content>