<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content class="background">
  <div class="container">
    <h1 style="text-align: center;">Buscador</h1>
    <ion-searchbar (ionInput)="displayGunplasByName($event)" type="text"></ion-searchbar>
  </div>

  <div class="container-results" id="results">
    <div class="box" *ngFor="let g of gunplasByName">
      <h5>{{g.nombre}}</h5>
      <a>{{g.descripcion}}</a>
      <img src=../../../..backend/img/maquetas/ style="width: 200px;">
    </div>
  </div>

  <div style="margin-top: 340px;">
    <app-footer></app-footer>
  </div>
</ion-content>