<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content class="background">
  <div class="container">
    <h1 style="text-align: center;">Buscador</h1>
    <ion-searchbar (ionInput)="displayGunplasByName($event)" type="text"></ion-searchbar>
  </div>

  <div class="container-results" id="results">
    <div class="box" *ngFor="let g of gunplasByName">
      <div class="card" (click)=DisplayGunplaView()>
        <img class="card-img-top" src="http://localhost:8080/img/maquetas/{{g.imgFileName}}">
        <div class="card-body">
          <h4 class="card-title">{{g.nombre}}</h4>
          <p class="card-text">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 340px;">
    <!-- <app-footer></app-footer> -->
  </div>
</ion-content>