ion-content.background{
    --background: url(../../assets/img/fondo.jpg) 0 0/100% 100% no-repeat;
  }

.container{
    text-align: center;
    background-color:#CFDFEB;
    border-radius:13px;
    border:1px solid black;
    font-family:'Roboto', sans-serif;
    font-size:15px;
    opacity: 95%;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 300px;
}

.container-results{
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  border-radius:13px;
  font-size: 11px;
  background-color:#CFDFEB;
}

.box{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}

.container ion-item{
  margin-bottom: 10px;
}