ion-content.background{
    --background: url(../../assets/img/Admin.jpeg) 0 0/100% 100% no-repeat;
}


.container{
    text-align: center;
    background-color:#CFDFEB;
    font-family:'Roboto', sans-serif;
    font-size:15px;
    opacity: 95%;
    border-radius:13px;
	border:1px solid black;
    margin-top: 100px;
    width: 300px;
}