ion-content.background{
    --background: url(../../assets/img/Admin.jpeg) 0 0/100% 100% no-repeat;
}


#container-options{
    text-align: center;
    background-color:#CFDFEB;
    font-family:'Roboto', sans-serif;
    font-size:15px;
    opacity: 95%;
    border-radius:13px;
	border:1px solid black;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#container-FormMaqueta{
    display: none;
    text-align: center;
    background-color:#CFDFEB;
    font-family:'Roboto', sans-serif;
    font-size:15px;
    opacity: 95%;
    border-radius:13px;
	border:1px solid black;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
#container-FormUsuario{
    display: none;
    text-align: center;
    background-color:#CFDFEB;
    font-family:'Roboto', sans-serif;
    font-size:15px;
    opacity: 95%;
    border-radius:13px;
	border:1px solid black;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
#container-FormPedido{
    display: none;
    text-align: center;
    background-color:#CFDFEB;
    font-family:'Roboto', sans-serif;
    font-size:15px;
    opacity: 95%;
    border-radius:13px;
	border:1px solid black;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}