<ion-menu side="start" menuId="firstMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/user" *ngIf="this.adminLogged == 0">Mi perfil</ion-item>
      <ion-item>Centro de soporte</ion-item>
      <ion-item href="/seeker">Buscador</ion-item>
      <ion-item>
        <ion-button class="btn" size="large" (click)="logOut()"><ion-icon name="exit-outline"></ion-icon>Cerrar sesión</ion-button>
      </ion-item>
      <ion-item>
        <ion-button class="btn" size="large" color="danger" (click)="toggleMenu()">Cerrar menú</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>